.text-updater-node {
    height: 175px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.logic-node {
    height: 70px;
    width: 80px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.logic-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.token-send-node {
    height: 130px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.token-send-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.value-set-node {
    height: 65px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.value-set-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.data-transaction-node {
    height: 60px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.data-transaction-node label {
    display: block;
    color: #777;
    font-size: 12px;
}


.error-node {
    height: 60px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.error-node label {
    display: block;
    color: #777;
    font-size: 12px;
}


.key-node {
    height: 100px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.key-node label {
    display: block;
    color: #777;
    font-size: 12px;
}



.dapp-node {
    height: 60px;
    width: 100px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.dapp-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

.callable-node {
    height: 60px;
    width: 100px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.callable-node label {
    display: block;
    color: #777;
    font-size: 12px;
}


.note-node {
    height: 100px;
    width: 125px;
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 5px;
    background: white;
}

.note-node label {
    display: block;
    color: #777;
    font-size: 12px;
}

input[name="Note"] {
    height: 90%; /* Increase height for more vertical space */
    width: 90%; /* Optional: Adjust width as needed */
    padding: 10px 5px; /* Adjust padding for better spacing and text alignment */
    margin-top: 5px; /* Add some space above the input field */
    font-size: 16px; /* Increase font size for better readability */
}